body {
  background-color: rgb(45, 51, 77) !important;
  padding-top: 90px;
}

@font-face{
  font-family: AuroBlack;
  src: url('../src/fonts/auroblack.otf');
}

@font-face{
  font-family: AuroRegular;
  src: url('../src/fonts/auroregular.otf');
}

h1, th {
  font-family: AuroBlack;
  color: rgb(45, 51, 77);
}

h2, h3, h4, h5, h6, p, nav, td, li {
  font-family: AuroRegular;
  color: rgb(45, 51, 77);
}

.color-verde{
  color: rgb(0, 237, 179);
}

.color-azul {
  background-color: rgb(45, 51, 77);
}

.margen {
  height: 100vh;
}

/* NAVBAR */

nav {
  height: 12vh;
  width: 100vw;
}

nav .navbar-collapse {
  width: 100vw;
  background-color: rgb(45, 51, 77);
}

nav .navbar-brand {
  width: 15vw;
}

nav .navbar-brand .logoPP {
  width: 90%;
}

nav .nav-link {
  color: white;
  margin-right: 30px;
}

nav .nav-link:hover {
  color: rgb(0, 237, 179);
  margin-right: 30px;
}

/* INICIO */

.initainer {
  background-color: white;
  width: 100vw;
  /* height: 80vh; */
}

.initainer .contenido {
  margin: auto;
}

.initainer .logocircular {
  width: 30%;
}

/* QUIENES SOMOS */

.qstainer {
  background-color: white;
  width: 100vw;
  /* height: 80vh; */
}

.qstainer hr {
  border: 10px solid rgb(0, 237, 179);
  border-radius: 15px;
  width: 30vw;
  margin: 0 auto 5%;
}

.qstainer .contenido {
  margin: auto;
}

.qstainer .fa-arrow-down {
  color: rgb(0, 237, 179);
  size: 70vw;
}

/* .qstainer .margen2 {
  height: 100%;
  width: 100%;
} */

.qstainer .col-1 {
  background-image: url("../src/img/bigleft.svg");
  background-repeat: no-repeat;
  background-size: 1000px 100px;
}

/* COMO TRABAJAMOS */

.comostainer {
  background-color: blueviolet;
  width: 100vw;
  height: 80vh;
}

/* POR QUE NOSOTROS */

.xqtainer {
  background-color: coral;
  width: 100vw;
  height: 80vh;
}

/* PRECIOS */

.preciostainer {
  background-color: royalblue;
  width: 100vw;
  height: 80vh;
}

/* CONTACTO */

.contactainer {
  background-color: plum;
  width: 100vw;
  height: 80vh;
}