body {
  background-color: rgb(45, 51, 77) !important;
  padding-top: 90px;
}

@font-face{
  font-family: AuroBlack;
  src: url('../src/fonts/auroblack.otf');
}

@font-face{
  font-family: AuroRegular;
  src: url('../src/fonts/auroregular.otf');
}

h1, th {
  font-family: AuroBlack;
}

h2, h3, h4, h5, h6, p, nav, td, li {
  font-family: AuroRegular;
}

.color-verde{
  color: rgb(0, 237, 179);
}

.color-azul {
  background-color: rgb(45, 51, 77);
}

/* NAVBAR */

nav {
  height: 12vh;
  width: 100vw;
}

nav .navbar-brand {
  width: 15vw;
}

nav .navbar-brand .logoPP {
  width: 90%;
}

nav .nav-link {
  color: white;
  margin-right: 30px;
}

nav .nav-link:hover {
  color: rgb(0, 237, 179);
  margin-right: 30px;
}

/* INICIO */

.initainer {
  background-color: white;
  width: 100vw;
  height: 80vh;
}