body {
  /* background-color: rgb(45, 51, 77) !important; */
  background-color: white;
  padding-top: 80px;
}

@font-face{
  font-family: AuroBlack;
  src: url('../src/fonts/auroblack.otf');
}

@font-face{
  font-family: AuroRegular;
  src: url('../src/fonts/auroregular.otf');
}

h1, th {
  font-family: AuroBlack;
  color: rgb(45, 51, 77);
}

h2, h3, h4, h5, h6, p, nav, td, li {
  font-family: AuroRegular;
  color: rgb(45, 51, 77);
}

.color-verde{
  color: rgb(0, 237, 179);
}

.color-azul {
  background-color: rgb(45, 51, 77);
}

.margen {
  height: 100vh;
}

/* NAVBAR */

nav {
  height: 12vh;
  width: 100vw;
}

nav .navbar-collapse {
  width: 100vw;
  background-color: rgb(45, 51, 77);
}

nav .navbar-brand {
  width: 15vw;
}

nav .navbar-brand .logoPP {
  width: 90%;
}

nav .nav-link {
  color: white;
  margin-right: 30px;
}

nav .nav-link:hover {
  color: rgb(0, 237, 179);
  margin-right: 30px;
}

.separador {
  width: 50vw;
}

/* INICIO */

.initainer {
  background-color: white;
  width: 100vw;
  /* height: 80vh; */
}

.initainer .contenido {
  margin: auto;
}

.initainer .logocircular {
  width: 30%;
}

/* QUIENES SOMOS */

.qstainer {
  background-color: white;
  width: 100vw;
  /* height: 80vh; */
}

.qstainer hr {
  border: 10px solid rgb(0, 237, 179);
  border-radius: 15px;
  width: 30vw;
  margin: 0 auto 5%;
}

.qstainer .contenido {
  margin: auto;
}

.qstainer .fa-arrow-down {
  color: rgb(0, 237, 179);
  size: 70vw;
}

/* .qstainer .margen2 {
  height: 100%;
  width: 100%;
} */

.qstainer .col-1 {
  background-image: url("../src/img/bigleft.svg");
  background-repeat: no-repeat;
  /* margin: 0px; */
  /* background-size: 1000px 100px; */
}

/* COMO TRABAJAMOS */

.comostainer {
  background-color: white;
  width: 100vw;
  /* height: 80vh; */
}

.comostainer .logoCC {
  width: 70%;
  height: auto;
}

.comostainer .fa-plus {
  color: rgb(0, 237, 179);
  size: 80%;
}

.comostainer span {
  display: block;
}

.comostainer .logoPP {
  width: 50%;
}

.comostainer .bracket {
  width: 50vw;
}

/* POR QUE NOSOTROS */

.xqtainer {
  background-color: white;
  width: 100vw;
  /* height: 80vh; */
}

/* PRECIOS */

.preciostainer {
  background-color: white;
  width: 100vw;
  /* height: 80vh; */
}

.preciostainer .fa-dollar-sign {
  color: rgb(0, 237, 179);
}

table, th, td {
  border: 3px solid rgb(0, 237, 179);
  text-align: center;
  padding: 20px;
}

.preciostainer .obs {
  list-style-type: none;
}

/* CONTACTO */

.contactainer {
  background-color: white;
  width: 100vw;
  /* height: 80vh; */
}

.contactainer .form-label, .btn {
  font-family: AuroBlack;
  color: rgb(45, 51, 77);
  font-size: larger;
}

.contactainer .fa-comment-dots {
  color: rgb(0, 237, 179);
}

.contactainer .formulario {
  width: 50vw;
  margin: 40px auto;
}

.contactainer .form-control, .form-control:focus {
  border: 4px solid rgb(0, 237, 179);
  border-radius: 15px;
}

/* FOOTER */

footer {
  background-color: white;
  width: 100vw;
}

footer .margen {
  height: 300px;
}